/** CSS STYLE **/

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

* {
  margin: 0;
  margin-bottom: 10px;
}

:root {
  --white: #fff;
  --white-transl: #d7ccc0;
  --lite: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transl: #908d8b;
  --bright: #b09a81;
  --blue: #1085c5;
  --background-image: url("../files/background.png");
}

.hello {
  display: block;

  color: var(--white);
}

.m-0 {
  margin: 0;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-52 {
  font-size: 52px;
}

.fs-60 {
  font-size: 60px;
}

.lineheight-1 {
  line-height: 1em;
}

.lineheight-1em2 {
  line-height: 1.2em;
}

.lineheight {
  line-height: 1.6em;
}

.h-font,
h1,
h2,
h3 {
  color: var(--main);
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.font {
  color: var(--dark);
  font-size: 16px;
  font-family: OpenSans-Regular, sans-serif;
  line-height: 1.6em;
}

.color-orange {
  color: var(--main);
}

.color-dark {
  color: var(--dark);
}

.color-lite {
  color: var(--lite);
}

.color-whitetr {
  color: var(--white-transl);
}

.color-bright {
  color: var(--bright);
}

.color-darktr {
  color: var(--dark-transl);
}

.h1-fs,
h1 {
  font-size: 72px;
}

.h2-fs,
h2 {
  font-size: 60px;
}

.h3-fs,
h3 {
  font-size: 34px;
}

.z-1 {
  position: relative;
  z-index: 100;
}

.z-2 {
  position: relative;
  z-index: 200;
}

.z-3 {
  position: relative;
  z-index: 300;
}

.tdec-none {
  text-decoration: none;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.d-block {
  display: block;
}

.content {
  position: relative;

  padding: 100px 165px;
}

.hei-705 {
  height: 705px;
}

.hei-714 {
  height: 714px;
}

.main-s-1 {
  height: 793px;
}

.section-text-align {
  text-align: center;
}

.center {
  width: max-content;
  margin: 0 auto;
}

.text {
  width: 1110px;
}

.pt-185 {
  padding-top: 185px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -105px;

  height: 525px;
}

.header-p1 {
  width: 540px;
}

.bg-image {
  position: relative;

  margin: 0;
}

.bg-image::before {
  position: absolute;
  top: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.section {
  width: 1440px;
}

.button {
  margin-top: 51px;
  padding: 12px 24px;

  color: var(--lite);

  background-color: var(--main);
}

.button:hover {
  background-color: peru;
}

.s-1 {
  position: relative;
}

.s-1-p {
  margin: 27px 0;
}

.s-1-video {
  position: absolute;
  left: 261px;
}

.h-691 {
  height: 691px;
}

.h-891 {
  height: 891px;
}

.ta-left {
  text-align: left;
}

.section-navigator {
  position: relative;
}

.s-2 {
  padding-top: 100px;
}

.flex-container {
  display: flex;
}

.s-2-flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.s-2-h-2 {
  margin-bottom: 16px;
}

.card {
  box-sizing: border-box;
  padding: 24px;

  background-color: var(--lite);
}

.card:hover {
  position: relative;
  top: -4px;
  left: 4px;
}

.card-w-h-012 {
  width: 350px;
  height: 323px;
}

.card-w-h-345 {
  width: 350px;
  height: 348px;

  margin-top: 10px;
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.s-3-image {
  height: 434px;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
}

.hei-434 {
  height: 434px;
}

.bi-avoid {
  break-inside: avoid;
}

.pl-30 {
  padding-left: 30px;
}

.pl-38 {
  padding-left: 38px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-51 {
  padding-bottom: 51px;
}

.bg-bright {
  background-color: var(--bright);
}

.bg-lite {
  background-color: var(--lite);
}

.bg-maindark {
  background-color: var(--main-dark);
}

.padv-30 {
  padding: 30px 0;
}

.s-4 {
  position: relative;
}

.main-s-h1 {
  position: relative;
  top: 0;

  margin: 90px 0 20px;
  padding: 5px 10px;
}
